<div class="student view indent">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-user"></span> Danh sách học viên </h3>
        </header>
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="{active: !vm.listDisplayModeEnabled}" class="toolbaritem">
                            <a data-ng-click="vm.changeDisplayMode(vm.DisplayModeEnum.Card)">
                                <span class="glyphicon glyphicon-th-large"></span> Card View
                            </a>
                        </li>
                        <li data-ng-class="{active: vm.listDisplayModeEnabled}" class="toolbaritem">
                            <a data-ng-click="vm.changeDisplayMode(vm.DisplayModeEnum.List)">
                                <span class="glyphicon glyphicon-align-justify"></span> List View
                            </a>
                        </li>
                        <li class="toolbaritem">
                            <a data-ng-click="vm.navigate('/studentitem/')">
                                <span class="glyphicon glyphicon-plus"></span> Thêm mới học viên
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <label class="navbarText col-sm-2">Search:</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       ng-keypress="($event.which === 13)?vm.searchTextChanged():0"
                                       data-ng-model=" vm.searchtext"
                                       class="novalidate form-control" />
                                <a ng-click="vm.searchTextChanged()" class="btn btn-info btn-md"><span class="glyphicon glyphicon-search"></span> Search</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row cardContainer show-hide-animation" data-ng-hide="vm.listDisplayModeEnabled">
                <div class="col-sm-6 col-md-4 col-lg-3" data-ng-class="vm.cardAnimationClass"
                     data-ng-repeat="student in vm.students | orderBy:'lastName'">
                    <div class="card">
                        <button class="btn close cardClose" title="Delete Customer" data-ng-click="vm.deleteStudent(student.Id)">&times;</button>
                        <div class="cardHeader"><a href="#/studentitem/{{student.Id}}" class="white">{{student.FirstName + ' ' + student.LastName}} <i class="icon-edit icon-white editIcon"></i></a></div>
                        <div class="cardBody">
                            <div class="clearfix">
                                <div class="pull-left cardBodyLeft">
                                    <a href="#/studentitem/{{student.Id}}" class="white"><img data-ng-src="../../../Content/images/{{student.Gender==0 && 'male.png'|| 'female.png'}}" class="cardImage" /></a>
                                </div>
                                <div class="pull-left cardBodyRight">
                                    <div class="cardBodyContent">
                                        {{student.DateOfBirth |date:'MM/dd/yyyy'}}
                                    </div>
                                    <div class="cardBodyContent">{{student.Address}}</div>
                                    <div class="cardBodyContent">{{student.PhoneNumber}}</div>
                                    <div class="cardBodyContent">{{student.Email}}</div>
                                    <div class="cardBodyContent">
                                        Số lượng:
                                        <a href="#/studentClassHistory/{{student.Id}}" class="btn-link">
                                            {{ student.ClassStudents.length }} lớp
                                            <!--<span data-ng-pluralize count="student.ClassStudents.length"
                                                  when="{'0':'','1': 'Class','other': 'Classes'}">
                                            </span>-->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gridContainer customersTable show-hide-animation" data-ng-show="vm.listDisplayModeEnabled">
                <div class="col-md-10">
                    <div>
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th data-ng-click="vm.setOrder('name')">Họ và tên</th>
                                    <th data-ng-click="vm.setOrder('dateofbirth')">Ngày Sinh</th>
                                    <th data-ng-click="vm.setOrder('address')">Địa chỉ</th>
                                    <th data-ng-click="vm.setOrder('phoneNumber')">Số Điện Thoại</th>
                                    <th data-ng-click="vm.setOrder('email')">Email</th>
                                    <th>Số lượng lớp</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="student in vm.students | orderBy:vm.columnName:vm.sortDirection" class="repeat-animation">
                                    <td><a href="#/studentitem/{{student.Id}}" class="white"><img data-ng-src="../../../Content/images/{{student.Gender==0 && 'male.png'|| 'female.png'}}" class="cardImage" /></a></td>
                                    <td><a href="#/studentitem/{{student.Id}}">{{student.FirstName + ' ' + student.LastName}}</a></td>
                                    <td>{{student.DateOfBirth | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{student.Address}}</td>
                                    <td>{{student.PhoneNumber}}</td>
                                    <td>{{student.Email}}</td>
                                    <td>
                                        <a href="#/studentClassHistory/{{student.Id}}" class="btn-link">
                                            {{ student.ClassStudents.length }} lớp
                                            <!--<span data-ng-pluralize count="student.ClassStudents.length"
                                                  when="{'0':'','1': 'Class','other': 'Classes'}">
                                            </span>-->
                                        </a>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" data-ng-click="vm.deleteStudent(student.Id)">Xóa</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row show-hide-animation" data-ng-show="vm.students.length == 0">
                <div class="col-span-12">
                    <h4>Không tìm thấy học viên!</h4>
                </div>
            </div>
        </div>
        <div class="row show-hide-animation" data-ng-show="vm.students.length > 0">
            <div class="col-md-12">
                <div data-pagination
                     data-on-select-page="vm.pageChanged(page)"
                     data-total-items="vm.totalRecords"
                     data-page="vm.currentPage"
                     data-items-per-page="vm.itemPerPage"
                     data-boundary-links="true"
                     class="pagination-sm"></div>
                <h5>Hiển thị {{ vm.students.length }} trong tổng số {{ vm.totalRecords}} học viên</h5>
            </div>
        </div>
        <br /><br /><br />
    </div>

</div>

