<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-edit"></span> {{vm.title}} ClassTeacher</h3>
        </header>
        <form name="itemForm" novalidate>
            <div class="classTeacherEdit">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ClassTeacher}} <span data-ng-hide="vm.classTeacher.id == 0">(<a style="font-size:12pt" href="#/classTeacherorders/{{vm.classTeacher.id}}">View Orders</a>)</span></h4>
                        <br />
                    </div>
                </div>
					<!-- [@FormControls] -->		
					<div class="row">
					    <div class="col-md-2">
					         Status
					    </div>
					    <div class="col-md-10">
					        <input type="number" name="Status" class="form-control" data-ng-model="vm.ClassTeacher.Status" required />
					        <span class="errorMessage" ng-show="itemForm.Status.$touched && itemForm.Status.$invalid">
					            Status is required
					        </span>
					    </div>
					</div>
					<div class="row">
					    <div class="col-md-2">
					         SalaryByHour
					    </div>
					    <div class="col-md-10">
					        <input type="number" name="SalaryByHour" class="form-control" data-ng-model="vm.ClassTeacher.SalaryByHour" required />
					        <span class="errorMessage" ng-show="itemForm.SalaryByHour.$touched && itemForm.SalaryByHour.$invalid">
					            SalaryByHour is required
					        </span>
					    </div>
					</div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.saveClassTeacher()"
                                ng-disabled="itemForm.$invalid || !itemForm.$dirty">
                            {{vm.buttonText}}
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger" data-ng-if="vm.classTeacher.id > 0" data-ng-click="vm.deleteClassTeacher()">Delete</button>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-success" data-ng-show="vm.updateStatus">
                        <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;ClassTeacher updated!
                    </div>
                </div>
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
