<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-edit"></span> {{vm.title}} BusinessComment</h3>
        </header>
        <form name="itemForm" novalidate>
            <div class="businessCommentEdit">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{BusinessComment}} <span data-ng-hide="vm.businessComment.id == 0">(<a style="font-size:12pt" href="#/businessCommentorders/{{vm.businessComment.id}}">View Orders</a>)</span></h4>
                        <br />
                    </div>
                </div>
					<!-- [@FormControls] -->		
					<div class="row">
					    <div class="col-md-2">
					         BusinessRate
					    </div>
					    <div class="col-md-10">
					        <input type="number" name="BusinessRate" class="form-control" data-ng-model="vm.BusinessComment.BusinessRate" required />
					        <span class="errorMessage" ng-show="itemForm.BusinessRate.$touched && itemForm.BusinessRate.$invalid">
					            BusinessRate is required
					        </span>
					    </div>
					</div>
					<div class="row">
					    <div class="col-md-2">
					       Comment
					    </div>
					    <div class="col-md-10">
					        <input type="text" name="Comment" class="form-control" data-ng-model="vm.BusinessComment.Comment" required />
					        <span class="errorMessage" ng-show="itemForm.Comment.$touched && itemForm.Comment.$invalid">
					            Comment is required
					        </span>
					    </div>
					</div>
					<div class="row">
					    <div class="col-md-2">
					       CreateDate
					    </div>
					    <div class="col-md-10">
					        <input type="text" name="CreateDate" class="form-control" data-ng-model="vm.BusinessComment.CreateDate" required />
					        <span class="errorMessage" ng-show="itemForm.CreateDate.$touched && itemForm.CreateDate.$invalid">
					            CreateDate is required
					        </span>
					    </div>
					</div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.saveBusinessComment()"
                                ng-disabled="itemForm.$invalid || !itemForm.$dirty">
                            {{vm.buttonText}}
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger" data-ng-if="vm.businessComment.id > 0" data-ng-click="vm.deleteBusinessComment()">Delete</button>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-success" data-ng-show="vm.updateStatus">
                        <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;BusinessComment updated!
                    </div>
                </div>
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
