<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-edit"></span> {{vm.title}} Driver</h3>
        </header>
        <form name="itemForm" novalidate>
            <div class="driverEdit">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{Driver}} <span data-ng-hide="vm.driver.id == 0">(<a style="font-size:12pt" href="#/driverorders/{{vm.driver.id}}">View Orders</a>)</span></h4>
                        <br />
                    </div>
                </div>
					<!-- [@FormControls] -->		
					<div class="row">
					    <div class="col-md-2">
					       Name
					    </div>
					    <div class="col-md-10">
					        <input type="text" name="Name" class="form-control" data-ng-model="vm.Driver.Name" required />
					        <span class="errorMessage" ng-show="itemForm.Name.$touched && itemForm.Name.$invalid">
					            Name is required
					        </span>
					    </div>
					</div>
					<div class="row">
					    <div class="col-md-2">
					       Address
					    </div>
					    <div class="col-md-10">
					        <input type="text" name="Address" class="form-control" data-ng-model="vm.Driver.Address" required />
					        <span class="errorMessage" ng-show="itemForm.Address.$touched && itemForm.Address.$invalid">
					            Address is required
					        </span>
					    </div>
					</div>
					<div class="row">
					    <div class="col-md-2">
					       Phone
					    </div>
					    <div class="col-md-10">
					        <input type="text" name="Phone" class="form-control" data-ng-model="vm.Driver.Phone" required />
					        <span class="errorMessage" ng-show="itemForm.Phone.$touched && itemForm.Phone.$invalid">
					            Phone is required
					        </span>
					    </div>
					</div>
					<div class="row">
					    <div class="col-md-2">
					       DriverLevel
					    </div>
					    <div class="col-md-10">
					        <input type="text" name="DriverLevel" class="form-control" data-ng-model="vm.Driver.DriverLevel" required />
					        <span class="errorMessage" ng-show="itemForm.DriverLevel.$touched && itemForm.DriverLevel.$invalid">
					            DriverLevel is required
					        </span>
					    </div>
					</div>
					<div class="row">
					    <div class="col-md-2">
					       DriverLicense
					    </div>
					    <div class="col-md-10">
					        <input type="text" name="DriverLicense" class="form-control" data-ng-model="vm.Driver.DriverLicense" required />
					        <span class="errorMessage" ng-show="itemForm.DriverLicense.$touched && itemForm.DriverLicense.$invalid">
					            DriverLicense is required
					        </span>
					    </div>
					</div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.saveDriver()"
                                ng-disabled="itemForm.$invalid || !itemForm.$dirty">
                            {{vm.buttonText}}
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger" data-ng-if="vm.driver.id > 0" data-ng-click="vm.deleteDriver()">Delete</button>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-success" data-ng-show="vm.updateStatus">
                        <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;Driver updated!
                    </div>
                </div>
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
